<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goodman.gm.p_mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.DangKy"></activity>
        <activity android:name=".Controller.AdminChiTietUser" />
        <activity android:name=".Controller.SetNewPassword" />
        <activity android:name=".Controller.Vertify_OTP" />
        <activity android:name=".Controller.QuenMatKhau" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <activity android:name=".Controller.Admin" />
        <activity android:name=".Controller.ChiTietQuanAn" />
        <activity android:name=".Controller.MainActivity" />
        <activity android:name=".Controller.AdminFood" />
        <activity android:name=".Controller.AdminNear" />
        <activity android:name=".Controller.AdminUser"></activity>
        <activity android:name=".Controller.AdminComment" />
        <activity android:name=".Controller.GanToi" />
        <activity android:name=".Controller.DoiMatKhau" />
        <activity android:name=".Controller.TestAPIGoogle" />
        <activity android:name=".Controller.TestGoogleMap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.DangNhap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Controller.TrangChu" />
        <activity android:name=".Controller.TrangCaNhan" />
    </application>

</manifest>